table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, 
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
canvas {
    max-width: 800px;
    margin-top: 20px;
}

.hide {
    display: none;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

.tabs__button {
    padding-inline: 30px;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #92A0AD;
    border-radius: 4px;
}

.tabs__button + .tabs__button {
    margin-left: 15px;
}

.tabs__button.active {
    background-color: #2E80B6;
}

.tabs__item {
    animation: fade 1s;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-lin    k {
    text-decoration: none;
}